<main
  class="flex-grow bg-gray-100 flex items-center justify-center h-[calc(100vh-72px)] max-md:h-[calc(100vh-64px)] p-4"
>
  <div
    class="bg-white rounded-lg shadow-lg flex flex-col md:flex-row w-full max-w-4xl overflow-hidden"
  >
    <!-- Left Section (Image) -->
    <div class="w-full md:w-1/2">
      <img
        src="images/login_bg.webp"
        alt="Workspace with plants"
        class="w-full h-auto md:h-full object-cover"
      />
    </div>

    <!-- Right Section (Login Form) -->
    <div class="w-full md:w-1/2 p-4 md:p-8 flex flex-col justify-center">
      <h2 class="text-2xl font-semibold text-gray-700 mb-2">Welcome back!</h2>
      <p class="text-sm text-gray-500 mb-4">
        Please login to access your
        <span class="text-purple-600 font-medium">Spaces</span> Dashboard
      </p>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="mb-4">
          <label for="username" class="block text-gray-600 mb-2"
            >Username</label
          >
          <input
            type="text"
            id="username"
            formControlName="username"
            placeholder="Username..."
            class="w-full border border-gray-300 rounded px-4 py-2 focus:outline-none focus:ring-2 focus:ring-purple-600"
          />
          @if (emailError) {
          <div class="text-red-600 text-sm mt-1">
            @if (loginForm.get('username')?.errors?.['required']) { username is
            required. }
          </div>
          }
        </div>
        <div class="mb-4">
          <label for="password" class="block text-gray-600 mb-2"
            >Password</label
          >
          <input
            type="password"
            id="password"
            formControlName="password"
            placeholder="**********"
            class="w-full border border-gray-300 rounded px-4 py-2 focus:outline-none focus:ring-2 focus:ring-purple-600"
          />
          @if (passwordError) {
          <div class="text-red-600 text-sm mt-1">
            @if (loginForm.get('password')?.errors?.['required']) { Password is
            required. }
          </div>
          }
        </div>
        <div class="flex justify-between items-center mb-4">
          <a
            routerLink="/forget-password"
            routerLinkActive="router-link-active"
            class="text-sm text-purple-600 hover:underline"
            >Forgot password?</a
          >
        </div>
        <button
          type="submit"
          class="w-full bg-purple-600 text-white py-2 px-4 rounded hover:bg-purple-700"
        >
          Login
        </button>
        @if (errorMessage()) {
        <div class="text-red-600 text-sm mt-4">
          {{ errorMessage() }}
        </div>
        }
      </form>
    </div>
  </div>
</main>
