<div class="min-h-screen flex flex-col">
  <!-- Header -->
  <header class="bg-white shadow-md">
    <div class="container mx-auto flex justify-between items-center py-4 px-6">
      <!-- Logo -->
      <img src="images/logo.png" alt="logo" class="h-8" />

      <!-- Desktop Navigation -->
      <nav class="hidden md:flex space-x-4 items-center">
        <a href="#" class="text-gray-700 hover:text-purple-600">Home</a>
        <a href="#" class="text-gray-700 hover:text-purple-600">About</a>
        <a href="#" class="text-gray-700 hover:text-purple-600">Contact</a>
        @if (isAuthenticated()){
        <button
          (click)="logOut()"
          class="bg-purple-600 text-white px-4 py-2 rounded hover:bg-purple-700"
        >
          Logout
        </button>
        }
      </nav>

      <!-- Mobile Menu Button (Hamburger) -->
      <button
        class="md:hidden text-gray-700 hover:text-purple-600 focus:outline-none"
        aria-label="Toggle Menu"
        (click)="toggleMenu()"
      >
        <!-- Hamburger Icon -->
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16M4 18h16"
          />
        </svg>
      </button>
    </div>

    <!-- Mobile Dropdown Menu -->
    <div
      class="md:hidden px-6 pb-4 absolute top-[64px] w-full bg-white"
      [class.hidden]="!isMenuOpen"
      id="mobile-menu"
    >
      <a href="#" class="block text-gray-700 hover:text-purple-600 mb-2"
        >Home</a
      >
      <a href="#" class="block text-gray-700 hover:text-purple-600 mb-2"
        >About</a
      >
      <a href="#" class="block text-gray-700 hover:text-purple-600 mb-2"
        >Contact</a
      >
      <button
        class="w-full bg-purple-600 text-white py-2 rounded hover:bg-purple-700"
      >
        Login
      </button>
    </div>
  </header>

  <!-- Main Content -->
  <router-outlet></router-outlet>
</div>
